$nav-color: #444F57;
$title-color: #737273;
$text-color: #F2F0F0; 
$div-color: rgb(68,79,87,0.6); 
$div-col-noop:  rgb(68,79,87);
$hero-color: #8c9297;
$p-font:  'Lato', sans-serif;
$title-font: 'Roboto', sans-serif;