#about-h1 {
    color: #737273;
    font-family: 'Ubuntu', sans-serif;
}

.about-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
}

.about-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    background-color: rgb(68,79,87,0.6) ;
    width: 80%;
    margin: auto;
    border-radius: 1%;
    box-shadow: 5px 5px 10px black;
    padding: 1rem;
    z-index: -1;
}

.img {
    display: block;
    position: relative;
    width: 50%;
   
}

.about-me {
    display: block;
    position: relative;
    width: 50%;
}

#my-img {
    width: 80%;
    filter: grayscale(50%);
   
}

#about-me {
    color: #D9D7D7;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    border: 1px solid #D9D7D7;
    padding: 0.4rem;
}

.blog-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.blog-wrapper a {
    text-decoration: none;
}

.blog-wrapper a:visited {
    text-decoration: none;
}

.blog-emb {
    display: block;
    background-color: white;
    background-color: rgb(68,79,87,0.6) ;
    margin: 1rem;
    padding-top: 2rem;
    box-shadow: 5px 5px 10px black;
    border-radius: 2%;
}

.blog-img-div {
    display: block;
    position: relative;
    width: 80%;
    margin-left: 10%;
    text-decoration: none;
    color: #D9D7D7;
}

.blog-img {
    width: 250px;
    height: 200px;
    overflow: hidden;
    background-color: white;
    filter: grayscale(50%);
    border: 1px solid #D9D7D7;
}

.blog-caption {
    display: block;
    width: 280px;
    height: 200px;
    text-decoration: none;
    color:  #F2F0F0;;
    padding-left: 1rem;
    padding-right: 1.5rem;
    overflow: hidden;
    margin: 2%;
}

.more-button {
    display: block;
    position: relative;
    padding: 5%;
}

.blog {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: rgb(68,79,87,0.6) ;
    color: #F2F0F0;
    width: 60%;
    margin-top: 10vh;
    padding: 2rem;
    border-radius: 1%;
    box-shadow: 5px 5px 10px black;
}

.blog-imag-div {
    display: block;
    box-shadow: 5px 5px 10px black;
}

.blog-image {
    width: 100%;
    border: 2px solid #D9D7D7;
    filter: grayscale(20%);
}

.back-button {
    cursor: pointer;
    background-color: #D9D7D7;
    border: 1px solid black;
}

.back-button a {
    text-decoration: none;
    color: #444F57;
    
}

.back-button a:visited {
    text-decoration: none;
    color: inherit;
}