#about-h1 {
    color: $title-color;
    font-family: $title-font;
    text-align: center;

}

.about-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10vh;;
}

.about-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;;
    align-items: center;
    margin-left: 2vw;
    margin-right: 2vw;;
    background-color: $div-color;
    border-radius: 1%;
    box-shadow: 5px 5px 10px black;
    padding: 1rem;

}

.img {
    display: block;
    margin: auto;
    padding: 2vh;
}

.about-me {
    display: inline-block;
    width: 50vw;
    margin: auto;
    padding: 2vh;

    p {
        color: $text-color;
        font-size: 18px;
        font-family: $p-font;
        margin: 0;
    }
    a {
            display: inline;
            padding: 0;
            text-decoration: none;
            font-size: 18px;
            font-family: $p-font;
            color: black;
        }

    }

#my-img {
    filter: grayscale(50%);
    border-radius: 2%;
}

#about-me {
    color: $text-color;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    border: 1px solid $text-color;
    padding: 0.4rem;
}

.blog-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.blog-wrapper a {
    text-decoration: none;
}

.blog-wrapper a:visited {
    text-decoration: none;
}

.blog-emb {
    display: block;
    background-color: $div-color;
    margin: 1rem;
    padding-top: 2rem;
    box-shadow: 5px 5px 10px black;
    border-radius: 2%;
    font-family: $p-font;
}

.blog-img-div {
    display: block;
    position: relative;
    width: 80%;
    margin-left: 10%;
    text-decoration: none;
    color: $text-color;
}

.blog-img {
    width: 250px;
    height: 200px;
    overflow: hidden;
    background-color: white;
    filter: grayscale(50%);
    border: 1px solid $text-color;
}

.blog-caption {
    display: block;
    width: 280px;
    height: 200px;
    text-decoration: none;
    color: $text-color;
    font-family: $p-font;
    font-size: 16px;
    padding-left: 1rem;
    padding-right: 1.5rem;
    overflow: hidden;
    margin: 2%;
}

.more-button {
    display: block;
    position: relative;
    padding: 5%;
}
.blog-page {
    margin-top: 2vh;
}

.blog {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: $div-color;
    color: $text-color;
    font-family: $p-font;
    width: 60%;
    margin-top: 1vh;
    margin: auto;
    padding: 2rem;
    border-radius: 1%;
    box-shadow: 5px 5px 10px black;
}
    h1 {
        font-family: $title-font;
    }

.blog-imag-div {
    display: block;
    box-shadow: 5px 5px 10px black;
}

.blog-image {
    width: 100%;
    border: 2px solid $text-color;
    filter: grayscale(20%);
}

.back-button {
    cursor: pointer;
    background-color: $nav-color;
    color: $text-color;
    font-family: $p-font;
    border: 1px solid black;
    transition-duration: 0.7s;
}

.back-button a {
    text-decoration: none;
    color: $text-color;
    cursor: pointer;
}
.back-button a:hover {
    color: $nav-color;
}

.back-button:hover {
    background-color: $text-color;
    color: $nav-color;
}

.back-button a:visited {
    text-decoration: none;
    color: inherit;
}

@media screen and (max-width: 780px) {
    


    #my-img {
        width: 200px;
    }

    .img {
        display: block;
        margin: auto;
        padding: 0.5vh;
    }
    
    .about-me {
        display: block;
        width: 80vw;
        margin: auto;
        padding: 0.5vh;
    
        p {
            color: $text-color;
            font-size: 16px;;
            margin: 0;
        }
    
            a {
                display: inline;
                text-decoration: none;
                font-size: 16px;
                font-family: $p-font;
                color: black;
            }
        
        }

}
@media screen and (max-width: 545px) {
    

    .logo-social-icons {
        filter: invert(100%) sepia(34%) saturate(81%) hue-rotate(200deg) brightness(114%) contrast(89%);
        padding-top: 1.5rem;
        padding-right: 1.5rem;
        width: 20px;
    }
    
    .about-me {
        display: block;
        position: relative;
        width: 80vw;
        margin-left: 2vw;
        margin-right: 2vw;
        padding: 0.5vh;
    
        p {
            color: $text-color;
            font-size: 14px;
            margin: 0;
        }

            a {
                font-size: 14px;
                font-family: $p-font;
                color: black;
            }
  
        }
}
