.ctc-div {
    width: 40%;
    height: auto;
}

.medium-map {
    width: 50%;
    filter: grayscale(50%);
}

.small-map {
    display: none;
    filter: grayscale(50%);
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    color: $text-color;
}

.contact-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    background-color: $div-color;
    box-shadow: 5px 5px 10px black;
    width: 60%;
    margin: auto; 
    margin-top: 10vh;
    opacity: 95%;
    padding: 2rem;
    border-radius: 1%;
    z-index: 0;
}

#name, #email, #subject, #message {
    width: 100%;
}

.blog-page {
    display: flex;
    flex: row;
    justify-content: center;
}

@media screen and (max-width: 780px) {
    
    .nav-bar {
        display: none;
        flex-direction: column;
        width:100%;
    }
 
    .ham-nav {
        display: block;     
        padding-top: 1rem;
        padding-right: 0.5rem;
        z-index: 20;
    }

    .logo-social-icons {
        filter: invert(100%) sepia(34%) saturate(81%) hue-rotate(200deg) brightness(114%) contrast(89%);
        padding-top: 1.5rem;
        padding-right: 1.5rem;
        width: 25px;
    }

    .nav-bar.show {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        flex-wrap: wrap;
        border-radius: 10%;
        z-index: 20;
        width: 45%; 
        background-color: #F2F0F0;
        opacity: 90%; 
    }

    .nav-bar a {
        font-size: 18px;
        color: #444F57;
        justify-content: center;
        text-align: center;
    }


    .contact-wrapper {
        flex-direction: column-reverse;
    }

    .ctc-div {
        width: 90%;
        height: auto;
    }

    .medium-map {
        display: none;

    }

    .small-map {
        display: block;
    }

}
@media screen and (max-width: 545px) {
    
    .nav-bar a {
        font-size: 12px;
        justify-content: center;
        text-align: center;
        z-index: 20;
    }

    .logo-social-icons {
        filter: invert(100%) sepia(34%) saturate(81%) hue-rotate(200deg) brightness(114%) contrast(89%);
        padding-top: 1.5rem;
        padding-right: 1.5rem;
        width: 20px;
    }
    

    .small-map {
        display: none;
       
    }

}